.root {
    -fx-background-color: #0d1117;
}

.root * {
    -fx-font-family: Arial;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow(gaussian, #000, 2.5, 0, 0.8, 0.8);
}

.button {
    -fx-background-color: #232b38;
    -fx-label-padding: 5;
}

.button:hover {
    -fx-background-color: #3a485e;
    -fx-cursor: hand;
}

#github_link {
    -fx-font-style: italic;
    -fx-underline: true;
}

#find_file_button {
    -fx-background-radius: 20;
    -fx-font-size: 25;
}

#file_type_label {
    -fx-font-size: 15;
}

#thumbnail_view {
    -fx-cursor: hand;
}

#divider {
    -fx-stroke: #fff;
    -fx-stroke-width: 1;
}

.slider .axis {
    -fx-font-size: 10;
    -fx-tick-label-fill: #fff;
}

.slider .track {
    -fx-background-color: #3a485e;
}

.slider .thumb {
    -fx-background-color: #232b38;
}

.slider_value {
    -fx-font-weight: bold;
}

#zoom_rectangle {
    -fx-fill: #0078d7;
    -fx-opacity: 0.3;
}

.thumbnail_toggle .box {
    -fx-background-color: #232b38;
}

.thumbnail_toggle:selected .mark {
    -fx-background-color: #00ff00;
}

#begin_button {
    -fx-font-size: 15;
    -fx-background-color: #008000;
}

.color-picker, .color-palette {
    -fx-background-color: #232b38;
}

.color-palette .hyperlink, .color-palette .separator {
    visibility: hidden;
}

#processing_label {
    -fx-font-size: 25;
}

.processing_details {
    -fx-font-size: 15;
}

.progress-bar .bar {
    -fx-background-color: #00c326;
}